.intro .title {
    height: 540px;
    background: url('/img/content/2013/02/style/denim_intro.jpg') no-repeat bottom center;
    }
    
    .intro .title h1 {
        color: #fff;
        font-size: 150px;
        text-align: center;
        padding: 180px 0 0;
        margin: 0;
        }
        
#detroit .content { padding-top: 70px; }
#detroit .item { height: 540px; background: url('/img/content/2013/02/style/denim_detroit.jpg') no-repeat bottom center; }

#jcrew484 .content { padding-top: 60px; }
#jcrew484 .item { height: 540px; background: url('/img/content/2013/02/style/denim_484.jpg') no-repeat bottom center; }

#apc .content { padding-top: 100px; }
#apc .item { height: 540px; background: url('/img/content/2013/02/style/denim_apc.jpg') no-repeat bottom center; }
